<ul>
  <% @posts.each do |post| %>
    <li>
        <h3><%= link_to post.title, post %></h3>
        <%= post.published_at.strftime("%B, %e %r") %> / <%= pluralize(post.plays.length, 'play') %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Post', new_post_path %>
